/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('image/fundo.jpg');
    background-size: auto 100vh;
    font-family: 'Caveat', cursive;
    height: 100vh;
}

/*se a tela tiver pelo menos 400px vai carregar estes stylos*/
@media (main-width: 400px) {
    body {
        font-size: 14px;
    }
}

header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: 1s;
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color: white;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subtitle,
.title {
    color: whitesmoke;
    text-align: center;
}

.title {
    font-size: 4em;
    font-family: 'Caveat', cursive;
    margin-top: 2em;
}

.subtitle {
    font-style: italic;
}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {

    .sobre,
    .contato,
    .portfolio {
        max-width: 1200px;

    }

    .sobre h2,
    .contato h2,
    .portfolio h2 {
        font-family: 'Caveat', cursive;
        color: whitesmoke;
        margin-bottom: 1em;
        font-size: 2em;
    }

    .portfolio .grid {
        display: grid;
        grid-gap: 1em;

    }

    @media (min-width: 560px) {
        .portifolio .grid {
            grid-template-columns: 240px 240px;
        }
    }

    @media (min-width: 860px) {
        .portfolio .grid {
            grid-template-columns: repeat(3, 240px);
            justify-content: center;
            align-content: center;
            height: calc(100vh - 8em -48px);
        }
    }

    .portfolio figure {
        text-align: center;
    }

    .img-portfolio {
        width: 180px;
        height: 240px;
        object-fit: cover;
        object-position: left;
        border-radius: 10%;
        transition: transform 500ms;
    }

    /*zoom na figura*/
    .img-portfolio:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .contato .icons {
        text-align: center;
    }

    .contato a {
        color: whitesmoke;
        font-size: 2em;
        transition: text-shadow 1s;
    }

    .contato a:active,
    .contato a:hover {
        text-decoration: none;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    }

    .sobre p {
        color: white;
        text-indent: 1em;
        text-align: justify;
        margin-bottom: 1.5em;
        font-family: sans-serif;
    }

    .sobre .avatar {
        float: right;
        margin-left: 1.5em;
    }

    .sobre .avatar img {
        border-radius: 10%;
    }
